<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="SampleService.SampleService1" behaviorConfiguration="mexBehaviour">
        <endpoint address="SampleService" binding="basicHttpBinding" contract="SampleService.ISampleService1">
        </endpoint>
        <endpoint address="SampleService" binding="netTcpBinding" contract="SampleService.ISampleService1">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
            <add baseAddress="net.tcp://localhost:8090" />
          </baseAddresses>
        </host> 
      </service>
    </services>
  </system.serviceModel>
</configuration>
